@using System.Linq
@model ProjectManagement.Pages.Projects.OverviewModel

@{
    // SECTION: JDP header action state
    var canManageIndustryPartners = Model.CanManageIndustryPartners;
    var primaryPartner = Model.JdpPartners.FirstOrDefault();
    var hasActions = canManageIndustryPartners || primaryPartner is not null;
}

@if (hasActions)
{
    <!-- SECTION: JDP kebab action menu -->
    <div class="dropdown">
        <button class="btn btn-sm pm-kebab"
                type="button"
                id="jdp-actions-menu"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                aria-label="Joint Development Partner actions">
            <i class="bi bi-three-dots-vertical" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="jdp-actions-menu">
            @if (canManageIndustryPartners)
            {
                <li>
                    <a class="dropdown-item" asp-page="/IndustryPartners/Index">
                        Manage links
                    </a>
                </li>
            }
            @if (primaryPartner is not null)
            {
                <li>
                    <a class="dropdown-item" href="/IndustryPartners?id=@primaryPartner.Id">
                        Open partner
                    </a>
                </li>
            }
        </ul>
    </div>
}
