@model ProjectManagement.Pages.Projects.OverviewModel

<div class="card pm-card">
    <div class="card-body pm-card-body">
        <partial name="_ProjectGalleryContent" model="Model" />
    </div>
</div>
