<div class="offcanvas offcanvas-end ffc-country-panel"
     tabindex="-1"
     id="ffcCountryPanel"
     aria-labelledby="ffcCountryPanelTitle"
     data-bs-scroll="true">
    <div class="offcanvas-header">
        <div>
            <div class="ffc-country-panel__eyebrow" data-ffc-panel-iso></div>
            <h2 class="offcanvas-title" id="ffcCountryPanelTitle" data-ffc-panel-title>Country footprint</h2>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close country details"></button>
    </div>
    <div class="offcanvas-body">
        <div class="ffc-country-panel__summary" data-ffc-panel-summary></div>
        <div class="ffc-country-panel__years" data-ffc-panel-years></div>
    </div>
</div>
