@page
@model ProjectManagement.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Admin dashboard";
}

<h3>Admin dashboard</h3>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    @foreach (var card in Model.Cards)
    {
        <partial name="_AdminCard" model="card" />
    }
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
}
