@page
@model ProjectManagement.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Account settings";
}
<h3>@ViewData["Title"]</h3>
<div class="pm-card pm-shadow p-4 p-md-5">
  <ul class="list-unstyled mb-0">
    <li><a asp-page="./ChangePassword">Change password</a></li>
  </ul>
</div>
