@page
@model ProjectManagement.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Sign out";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>You have been signed out.</p>
</div>
