@model ProjectManagement.Pages.ActionTasks.IndexModel

@* SECTION: Sprint Board workspace composes Phase 3A-2 partials without changing handlers or workflow rules. *@
<section class="at-sprints-workspace at-planning-board-workspace">
    <partial name="_PlanningCommandStrip" model="Model" />
    <partial name="_PlanningTabs" model="Model" />

    @if (Model.IsPlanningPlanTab)
    {
        <partial name="_PlanningPlanTab" model="Model" />
    }
    else if (Model.IsPlanningExecuteTab)
    {
        <partial name="_PlanningExecuteTab" model="Model" />
    }
    else if (Model.IsPlanningCloseTab)
    {
        <partial name="_PlanningCloseTab" model="Model" />
    }
    else if (Model.IsPlanningViewsTab)
    {
        <partial name="_PlanningViewsTab" model="Model" />
    }
</section>
