@page "/Projects/Documents/Preview"
@model ProjectManagement.Pages.Projects.Documents.PreviewModel
@using ProjectManagement.ViewModels
@{ 
    Layout = null;
    var previewModel = new PdfPreviewViewModel(
        Model.Document.Title,
        Model.ViewUrl,
        Model.Document.OriginalFileName,
        Model.Document.UploadedSummary,
        Model.Document.ProjectId);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Document Preview</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <div class="container-fluid py-3 px-3 px-lg-4 d-flex flex-column min-vh-100 doc-preview-layout">
        <partial name="~/Pages/Shared/_PdfPreview.cshtml" model="previewModel" />
    </div>
</body>
</html>
