@model ProjectManagement.ViewModels.Projects.IndustryPartners.LinkProjectDrawerViewModel

@* Section: Link project drawer *@
<div class="offcanvas offcanvas-end" tabindex="-1" id="linkProjectDrawer" aria-labelledby="linkProjectDrawerLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="linkProjectDrawerLabel">Link to Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="linkProjectDrawerBody">
        @await Html.PartialAsync("Projects/IndustryPartners/_Partials/_LinkProjectDrawerBody", Model)
    </div>
</div>
